@tailwind base;
@tailwind components;
@tailwind utilities;

.bm-burger-button {
    @apply 
        xxs:p-5
        w-[11px]
        h-[7px]
        xxs:-mt-2;
    position: fixed;
    right: 0;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    top: 30px;
    padding: 10px;

}

.bm-burger-bars {
    background: #373a47;
}

.bm-burger-bars-hover {
    @apply bg-blue-500 duration-300;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
    right: auto; 
    right: 0; 
    width: 300px; 
}


.bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    right: auto; 
    right: 0;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #000000;
}

.bm-item {
    display: inline-block;
    padding: 5px;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.8);
}
